spring:
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka1:9092,kafka2:9094,kafka3:9096}
    schema-registry:
      url: ${SPRING_KAFKA_PROPERTIES_SCHEMA_REGISTRY_URL:http://schema-registry:8081}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3
      batch-size: 16384
      linger-ms: 5
      compression-type: snappy
      client-id: producer-demo
    admin:
      auto-create: false
producer:
 # Producer Topic Configuration
  topics:
    stock-protobuf: stock-prices-protobuf
    user-events-protobuf: user-events-protobuf
    sensors-avro: iot-sensors-avro
    weather-avro: weather-data-avro
  # Message Production Configuration
  scheduling:
    stock-price-rate: 1000
    user-event-rate: 1000
    sensor-data-rate: 1000
    weather-data-rate: 1000
logging:
  level:
    com.kafka: INFO
management:
  endpoints:
    web:
      exposure:
        include: health,liveness,readiness,info,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
      show-components: always